.parchment-bg {
    background-image: url("https://www.southworth.com/shop/system/html/popup_parch_gray-a7e816b3.jpg");
    background-size: cover;
}

header {
    background-color: #59aaa5;
    margin: 0; 
    padding: 40px;
    text-align: center;  
    position: relative; 
}

header h1 {
    font-family: serif;
    color: white; 
    font-weight: bold; 
}

.container {
    background-color: white;
    margin-top: 100px; 
    margin: 20px auto; 
    padding: 20px; 
    padding-top: 30px; 
    border: 1px solid #e7e7e7; 
    max-width: 95%; 
}

ul {
    list-style: none;
    margin: 0; 
    padding: 0px; 
    overflow: hidden;
    background-color: white;
    text-align: center;  
}

li {
    display: inline-block; 
    padding: 10px 7px; 
    position: relative; 
}

li:not(:last-child)::after {
    content:""; 
    border: 1px solid #f3f3f3; 
    border-width: 0px 1.5px 0 0; 
    position: absolute; 
    right: 0px; 
    top: 25px; 
    height: 30%; 
}

li > a {
    display: block; 
    color: #a79ea2; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
}

main > h1 {
    color: #59aaa5; 
    font-family: serif; 
    font-weight: bold; 
    padding: 10px; 
}

/* hr {
    border-top: 3px solid #dddddd; 
    width: 93%; 
} */

#ugly-cat {
    max-width: 250px;  
    float: left; 
}

p {
    font-size: 20px; 
}

img {
    border-top: 3px solid #dddddd; 
    display: block; 
    min-width: 500px; 
    height: auto; 
    padding: 30px 0; 
}

footer {
    background-color: #666666;
    margin: 0; 
    padding: 30px;
    padding-top: 35px;  
    text-align: center;  
    position: relative;   
    border-top: 8px solid #59aaa5; 
    color: #c3c4b4; 
}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 768px) {

}

