.parchment-bg {
    background-image: url("https://www.southworth.com/shop/system/html/popup_parch_gray-a7e816b3.jpg");
    background-size: cover;
}

header {
    background-color: #59aaa5;
    padding: 30px;
    text-align: center;  
}

header h1 {
    font-family: serif;
    color: white; 
    font-weight: bold; 
}

nav {
    border-bottom: 1px solid #c3c4b4; 
}

ul {
    list-style: none;
    margin: 0; 
    padding: 0px; 
    background-color: white;
    text-align: center;  
}

li {
    display: inline-block; 
    padding: 7px 0px; 
    position: relative; 
    font-size: 20px; 
}

li:not(:last-child)::after {
    content:""; 
    border: 1px solid #f3f3f3; 
    border-width: 0px 1.5px 0 0; 
    position: absolute; 
    right: 0px; 
    top: 25px; 
    height: 30%; 
}

li > a {
    display: block; 
    color: #a79ea2; 
    padding: 14px 10px; 
}

.container, .container-fluid {
    background-color: white;
    margin: 30px 3%; 
    margin-bottom: 200px; 
    padding: 30px; 
    border: 1px solid #c3c4b4; 
    width: auto; 
    max-width: 750px; 
    margin-right: 15px auto; 
}

main > h1 {
    color: #59aaa5; 
    font-family: serif; 
    font-weight: bold; 
    padding-bottom: 20px; 
    border-bottom: 3px solid #dddddd; 
    margin-bottom: 20px; 
}

#ugly-cat {
    padding: 10px 20px 10px 0; 
    float: left; 
}

p {
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif; 
}

.port-img { 
    margin: 20px 0; 
    width: 100%; 
}

button {
    background-color: #59aaa5;
    color: white; 
    height: 40px; 
    width: 110px; 
    border: 0; 
    box-shadow: 0; 
    border-radius: 0; 
}

footer {
    background-color: #666666;
    margin: 0; 
    padding: 30px;
    padding-top: 35px;  
    text-align: center;  
    position: fixed;   
    bottom: 0; 
    width: 100%; 
    border-top: 8px solid #59aaa5; 
    color: #c3c4b4; 
    /* not totally certain if necessary, but it doesn't break anything right now, so I'm keeping it */
    overflow: hidden; 
}

@media only screen and (min-width: 768px) {
    #ugly-cat {
        width: 50%; 
    }

    ul {
        text-align: right;
        padding: 22px; 
    }

    header {
        text-align: left; 
        margin-left: 2.75%; 
        position: absolute; 
        top: 0; 
        padding: 30px 20px; 
    }


}

@media only screen and (min-width: 980px) {

    #ugly-cat {
        width: 35%; 
    }

}
