.parchment-bg {
    background-image: url("https://www.southworth.com/shop/system/html/popup_parch_gray-a7e816b3.jpg");
    background-size: cover;
}

header {
    background-color: #59aaa5;
    margin: 0; 
    padding: 30px;
    text-align: center;  
    position: relative; 
}

header h1 {
    font-family: serif;
    color: white; 
    font-weight: bold; 
}

nav {
    border-bottom: 1px solid #c3c4b4; 
}

.container {
    background-color: white;
    /* margin-top: 100px;  */
    margin: 20px auto; 
    margin-bottom: 200px; 
    padding: 30px; 
    padding-top: 30px; 
    border: 1px solid #c3c4b4; 
    max-width: 95%; 
}

ul {
    list-style: none;
    margin: 0; 
    padding: 0px; 
    overflow: hidden;
    background-color: white;
    text-align: center;  
}

li {
    display: inline-block; 
    padding: 7px; 
    position: relative; 
    font-size: 20px; 
}

li:not(:last-child)::after {
    content:""; 
    border: 1px solid #f3f3f3; 
    border-width: 0px 1.5px 0 0; 
    position: absolute; 
    right: 0px; 
    top: 25px; 
    height: 30%; 
}

li > a {
    display: block; 
    color: #a79ea2; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
}

main > h1 {
    color: #59aaa5; 
    font-family: serif; 
    font-weight: bold; 
    padding: 20px 10px; 
    border-bottom: 3px solid #dddddd; 
}

#ugly-cat {
    float: left; 
    display: block; 
    width: 100%; 
    padding: 10px 0; 
    margin-right: 20px; 
}

p {
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif; 
}

button {
    background-color: #59aaa5;
    color: white; 
    height: 40px; 
    width: 80px; 
    border: 0; 
    box-shadow: 0; 
    border-radius: 0; 
}

footer {
    background-color: #666666;
    margin: 0; 
    padding: 30px;
    padding-top: 35px;  
    text-align: center;  
    position: fixed;   
    bottom: 0; 
    width: 100%; 
    border-top: 8px solid #59aaa5; 
    color: #c3c4b4; 
    /* not totally certain if necessary, but it doesn't break anything right now, so I'm keeping it */
    overflow: hidden; 
}

@media screen and (min-width: 768px) {
    #ugly-cat {
        width: 50%; 
    }

    ul {
        text-align: right;
        padding: 22px; 
        /* margin-bottom: 20px;  */
    }

    header {
        text-align: left; 
        margin-left: 2.75%; 
        position: absolute; 
        top: 0; 
        padding: 30px 20px; 
    }

}

@media screen and (min-width: 980px) {

    #ugly-cat {
        width: 35%; 
    }
    .container {
        max-width: 65%; 
        float: left; 
        margin-left: 5%; 
    }

    header {
        margin-left: 5%; 
    }    


}
